<html>

<head>
    <title>aoshimarket - Cek Status Pesanan</title>
    <link rel="shortcut icon" href="assets\images\iconn.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="aoshimarket Cara Tercepat Dan Termudah Untuk Pembelian Diamond Mobile Legends.">
    <meta name="robots" content="index,nofollow">
    <meta name="author" content="aoshimarket">
    <meta name="keywords" content="diamond ml murah, top up ml murah, diamond mobile legend murah, aoshimarket">
    <meta name="language" content="ID">
    <meta name="coverage" content="Worldwide">
    <link rel="stylesheet" href="assets\vendor\fontawesome\css\all.css">
    <link rel="stylesheet" href="assets\vendor\bootstrap\css\bootstrap.min.css">
    <script src="assets\js\jquery-3.5.1.min.js"></script>
    <script src="assets\vendor\bootstrap\js\bootstrap.bundle.min.js"></script>
    <script src="assets\vendor\alertifyjs\alertify.min.js"></script>
    <link rel="stylesheet" href="assets\vendor\alertifyjs\css\alertify.min.css">
    <link rel="stylesheet" href="assets\vendor\alertifyjs\css\themes\bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets\vendor\DataTables\DataTables-1.10.22\css\dataTables.bootstrap4.min.css?x">
    <script type="text/javascript" src="assets\vendor\DataTables\DataTables-1.10.22\js\jquery.dataTables.min.js?x">
    </script>
    
    <script type="text/javascript" src="assets\vendor\DataTables\DataTables-1.10.22\js\dataTables.bootstrap4.min.js?x">
    </script>
    <link rel="stylesheet" href="assets\css\style-1.css?v=1645695462">
    <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
</head>
<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light shadow-sm bg-custom">
        <div class="container">
            <a class="navbar-brand" href="index.htm">
                 <img src="assets\images\1639991810.png" width="100px"> 
       
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span style="color:#fff !important ; " class="navbar-toggler-icon"> <i class="fas fa-bars color-primary2" style="font-size: 26px;"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="mr-auto"></div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link  " href="index.htm"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="status.html"><i class="fas fa-search"></i> Cek Pesanan</a>
                    </li>
                                        <li class="nav-item">
                        <a class="nav-link " href="https://aoshimarket.com/user"><i class="fas fa-user"></i> Masuk</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="preloader">
    <div class="loading">
        <img src="assets\images\preloader.gif" width="70">
    </div>
</div>
<script>
$(document).ready(function() {
    $(".preloader").fadeOut();
})
</script>
<body class="d-flex flex-column min-vh-100">
    <br><br><br><br><br><br>
    <div class="container">
        <div class="row mt-2" style="margin:0px">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5>Periksa pesanan anda</h5>
                        <hr>
                        <form action="invoice">
                            <div class="">
                                <div class="mb-3">
                                    <label class="mt-1">Kode Invoice</label>
                                    <input type="text" class="form-control" name="id" placeholder="Masukan Kode Invoice" required="">
                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-original" name="submit"><i class="fas fa-search"></i> Periksa</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
<div class="container container-1440">
    <div class="px-lg-3 pt-3">
      <div class="row">
        <div class="col-12">
          <div class="caption-group caption-group caption-group-lg-left">
            <div class="sub-caption">Dukungan Pelanggan</div>

            <div class="caption">
              <h2>Hubungi kami</h2>
            </div>
          </div>

          <div class="home-cs-container mt-3">
              <!--            <a class="home-cs-card" href="https://m.me/kioskutopup" target="_blank" rel="noreferrer">-->
              <!--  <div class="cs-image">-->
              <!--    <img alt="" src="https://aoshimarket.com/assets/images/svg/cs-messenger.svg">-->
              <!--  </div>-->
              <!--  <div class="cs-caption">Messenger</div>-->
              <!--</a>-->
            
            

            
            <a class="home-cs-card" href="https://www.instagram.com/aoshi_market/" target="_blank">
              <div class="cs-image">
                <img alt="" src="assets\images\svg\ig.svg">
              </div>
              <div class="cs-caption">Instagram</div>
            </a>

                                                                <a class="home-cs-card" href="http://wa.me/628984546080" target="_blank">
                      <div class="cs-image">
                          <img alt="" src="assets\images\svg\wa.svg">
                      </div>
                      <div class="cs-caption">Whatsapp</div>
                    </a>
             
                                            
       
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
<footer class="footer mt-auto">
    <div class="container pt-md-3 pb-md-3 text-left text-md-left">
        <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12 mt-md-0 mt-3 p-3 text-center footer-tutorial">
                <h1><i class="fas fa-gamepad mb-2 " style="color:#fff;"></i></h1>
                <h5 style="color:#fff;">Pilih Game</h5>
                Tersedia beberapa game pilihan seperti Mobile Legends dan PUBG Mobile . </div>
            <div class="col-md-3 col-lg-3 col-sm-12 mt-md-0 mt-3 p-3 text-center footer-tutorial">
                <h1><i class="fas fa-hand-pointer mb-2 " style="color:#fff;"></i></h1>
                <h5 style="color:#fff;">Pilih Nominal</h5>
                Pilih nominal topup game yang kamu pilih yang tersedia pada form order web.
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 mt-md-0 mt-3 p-3 text-center footer-tutorial">
                <h1><i class="fas fa-money-bill-wave mb-2" style="color:#fff;"></i></h1>
                <h5 style="color:#fff;">Lakukan Pembayaran</h5>
                Tersedia berbagai metode pembayaran diantaranya Alfamart, Bank BCA, Bank Mandiri, Bank BNI, Bank Bri, DANA, OVO, Gopay, Shopee Pay, Link Aja, dll.
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 mt-md-0 mt-3 p-3 text-center footer-tutorial">
                <h1><i class="fas fa-gift mb-2 " style="color:#fff;"></i></h1>
                <h5 style="color:#fff;">Topup Berhasil</h5>
                Topup akan diproses segera jika pembayaran sudah dilakukan dengan benar.
            </div>
        </div>
    </div>

    <div class="footer-copyright py-3">
        <div class="container mt-2">
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <h4 class="mt-2 mb-3">Aoshi Market</h4>
                    Aoshi Market merupakan penyedia layanan yang bisa memenuhi semua kebutuhan game anda. Kami menjamin harga termurah seindonesia. Nikmati layanan terbaik dari kami<br><br>

                </div>
                <div class="col-lg-6 pl-3 pr-3" style="background-color: #111;">
                    <h4 class="mt-2 mb-2">Mungkin Kamu Suka</h4>
                    <hr>
                    <ol class="fa-ul" style="margin-left: 2px">
                    <li><a href="order-4.html?id=49"><i class="fas fa-angle-right color-primary mr-2" style="margin-top: 6px;"></i>Mobile Legends - Proses 1-180 Menit</a></li><li><a href="order.html?id=1"><i class="fas fa-angle-right color-primary mr-2" style="margin-top: 6px;"></i>Mobile Legends - Proses 1-5 Menit</a></li><li><a href="order-5.html?id=48"><i class="fas fa-angle-right color-primary mr-2" style="margin-top: 6px;"></i>Mobile Legends - Proses 1-24 Jam</a></li><li><a href="order-14.html?id=56"><i class="fas fa-angle-right color-primary mr-2" style="margin-top: 6px;"></i>Point Blank PC - Proses 1-180 Menit</a></li><li><a href="order-15.html?id=57"><i class="fas fa-angle-right color-primary mr-2" style="margin-top: 6px;"></i>Arena Of Valor - Proses 1-180 Menit</a></li>                    </ol>
                </div>
                <div class="col-lg-12 text-center text-md-left">
                    <hr>
                    <div class="">
                        © 2021 <a href="#"> aoshimarket</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</footer>
<a href="https://www.instagram.com/aoshi_market" class="btn-ig-float shadow-sm" style="background-color: #bd4cae;" target="_blank">
    <i class="fab fa-instagram" style="margin-top: 9px;"></i>
</a>
<a href="https://wa.me/628984546080?text=Hallo+aoshi_market+saya+mau+order" class="btn-call-float shadow-sm" target="_blank">
    <i class="fab fa-whatsapp" style="margin-top: 9px;"></i>
</a>
<a href="#" id="btn-gotop" onclick="topFunction()">
    <i class="fas fa-angle-up mt-2"></i>
</a>


<script>
mybutton = document.getElementById("btn-gotop");
window.onscroll = function() {
    scrollFunction()
};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
}

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

</html>